openapi: 3.0.2
info:
  contact:
    email: support@beamable.com
    name: Beamable Support
    url: https://api.beamable.com
  description: var Beamable = BeamContext.Default; - That one line of code is a gateway
    to everything you need to build custom server logic via microservices along with
    a world of LiveOps tools and live services to build games that players love.
  title: history basic
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
externalDocs:
  description: Beamable Documentation
  url: https://docs.beamable.com
servers:
- url: https://api.beamable.com
tags:
- name: Payment
- name: Object
- name: Account
- name: Group
- name: Realm
- name: Leaderboard
- name: Mail
- name: Content
- name: Tournament
- name: Trial
- name: Cloudsaving
- name: Announcement
- name: Game
- name: Event
- name: Product
- name: Message
- name: Notification
- name: History
- name: Shard
- name: LegacyPvpDef
- name: Entitlement
- name: Promo
- name: Session
- name: Timer
- name: Campaign
- name: Authentication
- name: Statistic
- name: Template
- name: Plan
- name: SKU
- name: Friend
- name: Block
- name: Update
- name: Registration
- name: Activity
- name: Item
- name: Audit
- name: Subscription
- name: Currency
- name: Order
- name: Price
- name: LegacyEntitlementDef
paths:
  /basic/trials/admin/data:
    get:
      operationId: Trial_adminDataGet
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetS3DataResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-trials-admin-data
      x-accepts: application/json
  /basic/trials/data:
    delete:
      operationId: Trial_deleteData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTrialDataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--basic-trials-data
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: Trial_postData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadTrialDataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveGameDataResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-trials-data
      x-content-type: application/json
      x-accepts: application/json
  /basic/trials/pause:
    put:
      operationId: Trial_pauseTrial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseTrialRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-trials-pause
      x-content-type: application/json
      x-accepts: application/json
  /basic/trials/schedule:
    put:
      operationId: Trial_schedulePut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleTrialRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-trials-schedule
      x-content-type: application/json
      x-accepts: application/json
  /basic/trials/admin:
    get:
      operationId: Trial_getAdminTrials
      parameters:
      - explode: true
        in: query
        name: dbid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlayerTrialsResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-trials-admin
      x-accepts: application/json
  /basic/trials/start:
    put:
      operationId: Trial_startTrialProcess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTrialRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Trial
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-trials-start
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/me/device:
    delete:
      operationId: Account_removeDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDevicesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--basic-accounts-me-device
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/me:
    get:
      operationId: Account_getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-me
      x-accepts: application/json
    put:
      operationId: Account_updateAccountInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-accounts-me
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/me/third-party:
    delete:
      operationId: Account_deleteThirdParty
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyAvailableRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--basic-accounts-me-third-party
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/get-personally-identifiable-information:
    get:
      operationId: Account_getPersonallyIdentifiableInformation
      parameters:
      - explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPersonallyIdentifiableInformationResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-get-personally-identifiable-information
      x-accepts: application/json
  /basic/accounts/search:
    get:
      operationId: Account_searchAccounts
      parameters:
      - explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagesize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSearchResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-search
      x-accepts: application/json
  /basic/accounts/email-update/init:
    post:
      operationId: Mail_updateEmailInit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Mail
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-email-update-init
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/email-update/confirm:
    post:
      operationId: Mail_updateEmailConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateConfirmation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Mail
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-email-update-confirm
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/available/third-party:
    get:
      operationId: Account_checkThirdPartyAvailability
      parameters:
      - explode: true
        in: query
        name: thirdParty
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-available-third-party
      x-accepts: application/json
  /basic/accounts/admin/admin-user:
    post:
      operationId: Account_createAdminUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAccountRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPortalView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-admin-admin-user
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/register:
    post:
      operationId: Account_registerNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRegistration'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-register
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/admin/me:
    get:
      operationId: Account_getDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPortalView'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-admin-me
      x-accepts: application/json
  /basic/accounts/password-update/init:
    post:
      operationId: Account_updatePasswordInit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-password-update-init
      x-content-type: application/json
      x-accepts: application/json
  /basic/accounts/admin/admin-users:
    get:
      operationId: Account_getAdminUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminsResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-admin-admin-users
      x-accepts: application/json
  /basic/accounts/find:
    get:
      operationId: Account_findAccounts
      parameters:
      - explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-find
      x-accepts: application/json
  /basic/accounts/available/device-id:
    get:
      operationId: Account_checkAvailability
      parameters:
      - explode: true
        in: query
        name: deviceId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-available-device-id
      x-accepts: application/json
  /basic/accounts/available:
    get:
      operationId: Account_checkAvailability
      parameters:
      - explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-accounts-available
      x-accepts: application/json
  /basic/accounts/password-update/confirm:
    post:
      operationId: Account_updatePasswordConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateConfirmation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-accounts-password-update-confirm
      x-content-type: application/json
      x-accepts: application/json
  /object/accounts/{objectId}/admin/email:
    put:
      operationId: Mail_updateAdminEmail
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Mail
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-accounts-objectId-admin-email
      x-content-type: application/json
      x-accepts: application/json
  /object/accounts/{objectId}/available-roles:
    get:
      operationId: Account_getObjectAvailableRoles
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableRolesResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-accounts-objectId-available-roles
      x-accepts: application/json
  /object/accounts/{objectId}/role:
    delete:
      operationId: Account_removeRole
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-accounts-objectId-role
      x-accepts: application/json
    put:
      operationId: Account_updateRole
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-accounts-objectId-role
      x-content-type: application/json
      x-accepts: application/json
  /object/accounts/{objectId}/admin/scope:
    delete:
      operationId: Account_deleteAdminScope
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-accounts-objectId-admin-scope
      x-accepts: application/json
    put:
      operationId: Account_updateAdminScope
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-accounts-objectId-admin-scope
      x-content-type: application/json
      x-accepts: application/json
  /object/accounts/{objectId}/admin/third-party:
    delete:
      operationId: Account_deleteThirdPartyAdmin
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteThirdPartyAssociation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-accounts-objectId-admin-third-party
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: Account_updateThirdPartyAdmin
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferThirdPartyAssociation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-accounts-objectId-admin-third-party
      x-content-type: application/json
      x-accepts: application/json
  /object/accounts/{objectId}/admin/forget:
    delete:
      operationId: Account_removeAdminForget
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-accounts-objectId-admin-forget
      x-accepts: application/json
  /basic/announcements/search:
    get:
      operationId: Announcement_searchOperation
      parameters:
      - explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Announcement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-announcements-search
      x-accepts: application/json
  /basic/announcements/content:
    get:
      operationId: Content_getAnnouncementContent
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-announcements-content
      x-accepts: application/json
  /basic/announcements/list:
    get:
      operationId: Announcement_getAllAnnouncements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Announcement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-announcements-list
      x-accepts: application/json
  /object/announcements/{objectId}/read:
    put:
      operationId: Announcement_markAsRead
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Announcement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-announcements-objectId-read
      x-content-type: application/json
      x-accepts: application/json
  /object/announcements/{objectId}/claim:
    post:
      operationId: Announcement_claimObjectAnnouncement
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Announcement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-announcements-objectId-claim
      x-content-type: application/json
      x-accepts: application/json
  /object/announcements/{objectId}/raw:
    get:
      operationId: Announcement_getObjectRaw
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementRawResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Announcement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-announcements-objectId-raw
      x-accepts: application/json
  /basic/auth/token:
    get:
      operationId: Authentication_getToken
      parameters:
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-auth-token
      x-accepts: application/json
    post:
      operationId: Authentication_requestToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequestWrapper'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-auth-token
      x-content-type: application/json
      x-accepts: application/json
  /object/calendars/{objectId}/claim:
    post:
      operationId: Object_claimCalendar
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarClaimRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-calendars-objectId-claim
      x-content-type: application/json
      x-accepts: application/json
  /object/chatV2/{objectId}/rooms:
    delete:
      operationId: Object_deleteRoom
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveRoomRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveRoomResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-chatV2-objectId-rooms
      x-content-type: application/json
      x-accepts: application/json
    get:
      operationId: Object_getChatRooms
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoomsResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-chatV2-objectId-rooms
      x-accepts: application/json
    post:
      operationId: Object_createChatRoom
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-chatV2-objectId-rooms
      x-content-type: application/json
      x-accepts: application/json
  /object/chatV2/{objectId}/messages:
    post:
      operationId: Message_sendMessage
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Message
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-chatV2-objectId-messages
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/replace:
    post:
      operationId: Cloudsaving_replaceData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceObjectsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-cloudsaving-data-replace
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data:
    delete:
      operationId: Cloudsaving_deleteData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequests'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--basic-cloudsaving-data
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/downloadURL:
    post:
      operationId: Cloudsaving_getDataDownloadUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequests'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-cloudsaving-data-downloadURL
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/metadata:
    get:
      operationId: Cloudsaving_getDataMetadata
      parameters:
      - explode: true
        in: query
        name: request
        required: false
        schema:
          items:
            description: "WARNING: Missing items property in array schema. Missing\
              \ items property has been filled with this AnyType schema."
          type: array
        style: form
      - explode: true
        in: query
        name: playerId
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectsMetadataResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-cloudsaving-data-metadata
      x-accepts: application/json
  /basic/cloudsaving/data/move:
    put:
      operationId: Cloudsaving_moveDataPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerBasicCloudDataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-cloudsaving-data-move
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/uploadURLFromPortal:
    post:
      operationId: Cloudsaving_uploadUrlFromPortal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequestsFromPortal'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-cloudsaving-data-uploadURLFromPortal
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/commitManifest:
    put:
      operationId: Cloudsaving_commitManifestPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequests'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--basic-cloudsaving-data-commitManifest
      x-content-type: application/json
      x-accepts: application/json
  /basic/cloudsaving/data/uploadURL:
    post:
      operationId: Cloudsaving_uploadDataUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequests'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Cloudsaving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-cloudsaving-data-uploadURL
      x-content-type: application/json
      x-accepts: application/json
  /basic/commerce/catalog:
    get:
      operationId: Product_getCatalog
      parameters:
      - explode: true
        in: query
        name: version
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Product
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-commerce-catalog
      x-accepts: application/json
  /basic/commerce/skus:
    get:
      operationId: Sku_listSkus
      parameters:
      - explode: true
        in: query
        name: version
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSKUsResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - SKU
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-commerce-skus
      x-accepts: application/json
    post:
      operationId: Sku_createSku
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveSKUsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - SKU
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-commerce-skus
      x-content-type: application/json
      x-accepts: application/json
  /object/commerce/{objectId}/coupons/count:
    get:
      operationId: Object_getCommerceCouponCount
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTotalCouponResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-commerce-objectId-coupons-count
      x-accepts: application/json
  /object/commerce/{objectId}/offersAdmin:
    get:
      operationId: Object_getOffersAdmin
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: stores
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveOffersResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-commerce-objectId-offersAdmin
      x-accepts: application/json
  /object/commerce/{objectId}/purchase:
    post:
      operationId: Object_purchaseItem
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-commerce-objectId-purchase
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: Object_purchaseById
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportPurchaseRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-commerce-objectId-purchase
      x-content-type: application/json
      x-accepts: application/json
  /object/commerce/{objectId}/listings:
    get:
      operationId: Object_getCommerceListings
      parameters:
      - explode: true
        in: query
        name: listing
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: store
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveListingResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-commerce-objectId-listings
      x-accepts: application/json
  /object/commerce/{objectId}/status:
    delete:
      operationId: Object_deleteStatusById
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-commerce-objectId-status
      x-content-type: application/json
      x-accepts: application/json
  /object/commerce/{objectId}/coupons:
    post:
      operationId: Object_createCommerceCoupons
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiveCouponReq'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-commerce-objectId-coupons
      x-content-type: application/json
      x-accepts: application/json
  /object/commerce/{objectId}/stats/update:
    post:
      operationId: Object_updateStatObject
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatSubscriptionNotification'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-commerce-objectId-stats-update
      x-content-type: application/json
      x-accepts: application/json
  /object/commerce/{objectId}/offers:
    get:
      operationId: Object_getCommerceOffers
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: stores
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveOffersResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-commerce-objectId-offers
      x-accepts: application/json
  /basic/content/manifest/pull:
    post:
      operationId: Content_pullManifestData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PullManifestRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-content-manifest-pull
      x-content-type: application/json
      x-accepts: application/json
  /basic/content/content:
    get:
      operationId: Content_getContentDetails
      parameters:
      - explode: true
        in: query
        name: contentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentOrText'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-content-content
      x-accepts: application/json
  /basic/content/text:
    post:
      operationId: Content_submitTextContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTextRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTextResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-content-text
      x-content-type: application/json
      x-accepts: application/json
  /basic/content/manifest:
    get:
      operationId: Content_getManifestData
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-content-manifest
      x-accepts: application/json
    post:
      operationId: Content_createManifestData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveManifestRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-content-manifest
      x-content-type: application/json
      x-accepts: application/json
  /basic/content/manifest/public:
    get:
      operationId: Content_getPublicManifest
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientManifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-content-manifest-public
      x-accepts: application/json
  /basic/content/manifest/private:
    get:
      operationId: Content_getPrivateManifest
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientManifest'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-content-manifest-private
      x-accepts: application/json
  /basic/content/manifest/checksum:
    get:
      operationId: Content_checkManifestChecksum
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestChecksum'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-content-manifest-checksum
      x-accepts: application/json
  /basic/events/content:
    get:
      operationId: Content_getContentData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-events-content
      x-accepts: application/json
  /basic/events/calendar:
    get:
      operationId: Event_getCalendarEvents
      parameters:
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsInDateRangeResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-events-calendar
      x-accepts: application/json
  /basic/events/applyContent:
    post:
      operationId: Content_applyContentData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventApplyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--basic-events-applyContent
      x-content-type: application/json
      x-accepts: application/json
  /basic/events/running:
    get:
      operationId: Activity_getRunningEvents
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQueryResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Activity
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-events-running
      x-accepts: application/json
  /object/events/{objectId}/endPhase:
    put:
      operationId: Event_updateObjectEndPhase
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPhaseEndRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-events-objectId-endPhase
      x-content-type: application/json
      x-accepts: application/json
  /object/events/{objectId}/ping:
    get:
      operationId: Event_pingObjectEvents
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingRsp'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-events-objectId-ping
      x-accepts: application/json
  /object/events/{objectId}/content:
    delete:
      operationId: Content_deleteEventContent
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-events-objectId-content
      x-accepts: application/json
    put:
      operationId: Content_updateObjectContent
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetContentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Content
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-events-objectId-content
      x-content-type: application/json
      x-accepts: application/json
  /object/events/{objectId}/refresh:
    put:
      operationId: Event_refreshObjectEvents
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-events-objectId-refresh
      x-accepts: application/json
  /object/event-players/{objectId}/claim:
    post:
      operationId: Event_claimObjectEventPlayers
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventClaimRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventClaimResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-event-players-objectId-claim
      x-content-type: application/json
      x-accepts: application/json
  /object/event-players/{objectId}/score:
    put:
      operationId: Event_updatePlayerScore
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventScoreRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-event-players-objectId-score
      x-content-type: application/json
      x-accepts: application/json
  /object/gamerelay/{objectId}/sync:
    post:
      operationId: Game_relayObjectSync
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncReq'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRsp'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Game
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-gamerelay-objectId-sync
      x-content-type: application/json
      x-accepts: application/json
  /object/gamerelay/{objectId}/results:
    post:
      operationId: Game_relayObjectResults
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameResultsMessage'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Game
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--object-gamerelay-objectId-results
      x-content-type: application/json
      x-accepts: application/json
  /object/inventory/{objectId}/preview:
    put:
      operationId: Object_updateInventoryPreview
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewVipBonusResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-inventory-objectId-preview
      x-content-type: application/json
      x-accepts: application/json
  /object/inventory/{objectId}/multipliers:
    get:
      operationId: Object_getMultipliers
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipliersGetResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-inventory-objectId-multipliers
      x-accepts: application/json
  /object/inventory/{objectId}/transaction:
    delete:
      operationId: Object_removeTransactionById
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndTransactionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-inventory-objectId-transaction
      x-content-type: application/json
      x-accepts: application/json
  /object/inventory/{objectId}/transfer:
    put:
      operationId: Object_transferItemInventory
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Object
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-inventory-objectId-transfer
      x-content-type: application/json
      x-accepts: application/json
  /basic/inventory/items:
    get:
      operationId: Item_listItems
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Item
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-inventory-items
      x-accepts: application/json
  /basic/inventory/currency:
    get:
      operationId: Currency_getInventoryCurrency
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyContentResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Currency
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-inventory-currency
      x-accepts: application/json
  /basic/leaderboards/list:
    get:
      operationId: Leaderboard_listUserScores
      parameters:
      - explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardListResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-leaderboards-list
      x-accepts: application/json
  /basic/leaderboards/player:
    get:
      operationId: Leaderboard_getPlayerScores
      parameters:
      - explode: true
        in: query
        name: dbid
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLeaderBoardViewResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-leaderboards-player
      x-accepts: application/json
  /basic/leaderboards/assignment:
    get:
      operationId: Leaderboard_getAssignmentLeaderboard
      parameters:
      - explode: true
        in: query
        name: boardId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: joinBoard
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardAssignmentInfo'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-leaderboards-assignment
      x-accepts: application/json
  /basic/leaderboards/uid:
    get:
      operationId: Leaderboard_getUserScores
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardUidResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-leaderboards-uid
      x-accepts: application/json
  /object/leaderboards/{objectId}/entries:
    delete:
      operationId: Leaderboard_deleteEntries
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-leaderboards-objectId-entries
      x-accepts: application/json
  /object/leaderboards/{objectId}/membership:
    get:
      operationId: Leaderboard_getObjectMembership
      parameters:
      - explode: true
        in: query
        name: playerId
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardMembershipResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-membership
      x-accepts: application/json
  /object/leaderboards/{objectId}/ranks:
    get:
      operationId: Leaderboard_listObjectRanks
      parameters:
      - explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderBoardViewResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-ranks
      x-accepts: application/json
  /object/leaderboards/{objectId}/partition:
    get:
      operationId: Leaderboard_getObjectPartition
      parameters:
      - explode: true
        in: query
        name: playerId
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPartitionInfo'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-partition
      x-accepts: application/json
  /object/leaderboards/{objectId}/matches:
    get:
      operationId: Leaderboard_getObjectMatches
      parameters:
      - explode: true
        in: query
        name: poolSize
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: windows
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: windowSize
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchMakingMatchesPvpResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-matches
      x-accepts: application/json
  /object/leaderboards/{objectId}/assignment:
    delete:
      operationId: Leaderboard_removeAssignment
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardRemoveCacheEntryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-leaderboards-objectId-assignment
      x-content-type: application/json
      x-accepts: application/json
  /object/leaderboards/{objectId}/entry:
    delete:
      operationId: Leaderboard_removeEntry
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardRemoveEntryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--object-leaderboards-objectId-entry
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: Leaderboard_updateEntry
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardAddRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-leaderboards-objectId-entry
      x-content-type: application/json
      x-accepts: application/json
  /object/leaderboards/{objectId}/freeze:
    put:
      operationId: Leaderboard_createFreezeRequest
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-leaderboards-objectId-freeze
      x-accepts: application/json
  /object/leaderboards/{objectId}/details:
    get:
      operationId: Leaderboard_getObjectDetails
      parameters:
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardDetails'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-details
      x-accepts: application/json
  /object/leaderboards/{objectId}/view:
    get:
      operationId: Leaderboard_getObjectView
      parameters:
      - explode: true
        in: query
        name: max
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: focus
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: friends
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: outlier
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: guild
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderBoardViewResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--object-leaderboards-objectId-view
      x-accepts: application/json
  /object/leaderboards/{objectId}/swap:
    put:
      operationId: Leaderboard_swapObjectLeaderboard
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardSwapRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Leaderboard
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-leaderboards-objectId-swap
      x-content-type: application/json
      x-accepts: application/json
  /basic/groups/search:
    get:
      operationId: Group_searchGroups
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: scoreMin
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: sortField
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userScore
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: hasSlots
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: enrollmentTypes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: scoreMax
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: subGroup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sortValue
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearchResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
      tags:
      - Group
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--basic-groups-search
      x-accepts: application/json
  /object/groups/{objectId}/role:
    put:
      operationId: Group_updateRole
      parameters:
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleChangeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: ""
        "400":
          description: Bad Request
      security:
      - scope: []
        user: []
      tags:
      - Group
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--object-groups-objectId-role
[...]
